<div class="bg-teal-300 flex justify-center w-full">
  <div class ="w-full text-center border-solid border-2 bg-teal-200">
    <div class="justify-center w-full border-solid border-4">
      <h1 class="text-lg text-center"> MOVIE NIGHT</h1>
      <h1 class="text-lg text-center"> Reviews</h1>
    </div>

    <div>
      <ul class="bg-teal-500 grid grid-cols-3">
        <% @reviews.each do |review|%>
          <li class="px-8 py-4 center underline underline-offset-4 decoration-double">
            <%= link_to review.title, review %>
          </li>
        <% end %>
      </ul>
    </div>


    <div class="flex justify-center py-10 bg-teal-100">
      <h1>Latest Review |⏳|</h1>
    </div>

    <% if current_user.poster? | current_user.moderator? %>
      <div class="flex justify-center">
        <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 
        px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"><%= link_to "Add a review", new_review_path %></button>
      </div>
    <% end %>
</div>
