<div class="bg-slate-300 flex justify-center w-full">
  <div class ="w-80 justify-center border-solid border-2 bg-slate-200">
    <div class="justify-center w-full border-solid border-4">
      <h1 class="text-lg flex justify-center"> MOVIE NIGHT</h1>
      <h1 class="text-lg flex justify-center"> Reviews</h1>
    </div>

    <div>
      <ul class="bg-white w-80 grid grid-cols-3">
        <% @reviews.each do |review|%>
          <li class="px-8 py-4 underline underline-offset-4 decoration-double">
            <%= link_to review.title, review %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="flex justify-center">
      <%= link_to "Time to review", new_review_path %>
    </div>

    <div class="flex justify-center py-10">
      <h1>Latest Review |⏳|</h1>
      <p class="underline underline-offset-8 decoration-double"><%= link_to @reviews.find(1).title, review_path(@reviews.find(1))%>
    </div>
</div>
