<div>
    <p class="bg-pink-400">
      #darkest
      My: colors
      fuchsia-900 #701A75
      fuchsia-700 #A21CAF
      pink-400 #F472B6
      rose-300 #F9A8D4
      red-200 #FECACA
      orange-300 #FDBA74
      rose-50 #FFF1F2
      #lightest
    </p>
    <br>
    <p class="bg-fuchsia-900">?????????</p>
    <p class="bg-fuchsia-700">?????????</p>
    <p class="bg-pink-400">?????????</p>
    <p class="bg-rose-300">?????????</p>
    <p class="bg-red-200">?????????</p>
    <p class="bg-orange-300">?????????</p>
    <p class="bg-rose-50">?????????</p>
  </div>
