/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.simple-calendar {
}

.calendar-title{
  font-weight: bold;
}

.calendar-heading{
  padding: 70px 25px;
  width: 100%;
  background: #A21CAF;
  text-align: center;
  color: #FDBA74;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 35px;

}

.card-title{
  color: #F472B6;
}

.card-text{
  font-size: 16px;
}

.day {

  width: 17%;
  margin: 0;
  padding: 10px;
  background-color: #A21CAF;
}

.wday-0 {
}
.wday-1 {
}
.wday-2 {
}
.wday-3 {
}
.wday-4 {
}
.wday-5 {
}
.wday-6 {
}

.today {
  padding: 5px;
  background: #F472B6;
  color: white !important
}
.past {}
.future {}

.start-date {}

.prev-month {}
.next-month {}
.current-month {
  color: #FDBA74;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.has-events {}
