<%= turbo_frame_tag "review" do %>
  <div class="mx-2 bg-gray-900 text-sky-200">
    <h1 class="py-4 mx-2 text-xl"> Review our most recent watch! </h1>
    <%= render "reviews/form" %>
  </div>
<% end %>
