<div class="w-full">
  <div class="grid grid-cols-7 grid-rows-2 content-start py-8">
    <div class="bg-sky-500/25 text-center">Sunday</div>
    <div class="bg-sky-500/50 text-center">Monday</div>
    <div class="bg-sky-500/75 text-center">Tuesday</div>
    <div class="bg-sky-500/75 text-center">Wednesday</div>
    <div class="bg-sky-500/100 text-center">Thursday</div>
    <div class="bg-sky-500/25 text-center">Friday</div>
    <div class="bg-sky-500/25 text-center">Saturday</div>
    <div class="bg-sky-500/25"></div>
    <div class="bg-sky-500/50 text-center text-white">Form Out</div>
    <div class="bg-sky-500/75 text-center text-white">Decision Day</div>
    <div class="bg-sky-500/75"></div>
    <div class="bg-sky-500/100 text-center text-white">Movie Night!</div>
    <div class="bg-sky-500/25 text-center text-white">Suggestions</div>
    <div class="bg-sky-500/25"></div>
  </div>
  <%= render  "shared/nav_bar" %>
  <%= render "form", suggestion: @suggestion %>
</div>
